<div class="footer-area">
    <div class="left-side">
        <span><b>[MS]</b></span>
      <span>© Marcel Schiller 2024</span>
    </div>
    <div class="right-side">
      <div class="icons">
        <a href="https://github.com/CHiLLiNSKi27">
          <img src="./assets/img/Icons/Github.png" alt="Github" />
        </a>
        <a href="mailto:marcel.schiller@t-online.de">
          <img src="./assets/img/Icons/Email.png" alt="E-Mail senden" />
        </a>
        <a href="">
          <img src="./assets/img/Icons/LinkedIn.png" alt="LinkedIn" />
        </a>
      </div>
      <a class="legal-notice" id="legalNotice" href="">Legal notice</a>
    </div>
  </div>