<div class="skills" id="Skills">

    <div class="my-skills-container">
        <h2 #SkillsTitle>My Skills</h2>
        <div class="icon-container">
            <div #moving0 class="skill-icons">
                <img src="./assets/img/Icons/angular_icon.png" alt="">
                <p>Angular</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/Javascript_icon.png" alt="">
                <p>JavaScript</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/typescript_icon.png" alt="">
                <p>TypeScript</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/html_icon.png" alt="">
                <p>Html</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/css_icon.png" alt="">
                <p>CSS</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/firebase_icon.png" alt="">
                <p>Firebase</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/git_icon.png" alt="">
                <p>Git</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/scrum_icon.png" alt="">
                <p>Scrum</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/Api_icon.png" alt="">
                <p>API</p>
            </div>
            <div class="skill-icons">
                <img src="./assets/img/Icons/material-design_icon.png" alt="">
                <p>Material <br />design </p>
            </div>
        </div>
    </div>

</div>